{% extends "base_layout.html" %}

{% block content %}
{% load static %}

</head>
<body>
  <div class="container-fluid">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <input type="text" name="title" placeholder="Title" id="title" required><br>
  <input type="text" name="text" placeholder="What do you want to write?" id="text"><br>
  <input type="text" name="tags" placeholder="Enter Tags Separated by Space" required>
  <input type="file" name="medias" id="images" multiple> <br>
  <input type="submit" value="Create Post">
</form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}