{% extends "base_layout.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="../static/stylesheets/login.css">

</head>
<body style="background-color:rgba(253, 250, 68, 0.993);">
  <div class="container-fluid">
  <form method="post">
    {% csrf_token %}<br>
    <h1 style="color:black" > LOGIN </h1>
    <input type="username" placeholder="Username" name="username" id="username"><br>
    <input type="password" placeholder="Password" name="password" id="password"><br>
    <input type="submit" value="Log in"><br><br><br>  
  </form>
  <a href="/account/password_reset">Forget Password?</a>
  <a href="/account/signup">Does not have an account?</a><br><br>
  
  
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <a class="close" data-dismiss="alert">×</a>
    {{ message|safe }}
  </div>
  {% endfor %}

  {% endblock %}