{% extends "base_layout.html" %}

{% block content %}
{% load static %}

</head>
<body>
  <div class="container-fluid">

<br>



<!--Card below-->

<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ post_data.title }}</h4>
    <p class="card-text">{{ post_data.text }}</p>
    <p class="card-text"><small class="text-muted">Posted on <time datetime="{{post_data.posted_on|date:'c'}}" id="time-{{post.post.post_id}}">{{post.post.posted_on}}</time></small>

    By <a class="text-decoration-none" href="/account/view/{{post_data.author.user.username}}">@{{post_data.author.user.username}}</a>

  <div id="carouselIndicator" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
    {% for media in medias %}
      <div class="carousel-item active">
        <img src="{{media.url}}" class="d-block w-100" alt="...">
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicator" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicator" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  </div>
  <!--Carousel below-->
</p>

  <!--Carousel Above-->
</div>
<!--Card above-->




<form action="post_comment/{{ post_data.post_id }}" method="post">
  {% csrf_token %}
  <input type="text" name="text" placeholder="Write Answer">
  <input type="hidden" name="sno" value="{{post_data.post_id}}">
  <input type="submit" value="Post Answer">
</form>

Answers:
<br>
{% for answer in answers %}
<hr>
{{ answer.answer.text }}


{% if answer.answer.user.user == user %}
<a href="/post/delete_answer/{{ answer.answer.id }}" class="text-danger">Delete</a>
{% endif %}
<a href="/api/vote_answer/{{ answer.answer.id }}">Vote</a>
<a href="/api/report_answer/{{ answer.answer.id }}">Report</a>
<form action="post_comment/{{ post_data.post_id }}" method="post">
  {% csrf_token %}
  <input type="hidden" name="parentSno" value="{{ answer.answer.id }}">
  <input type="text" name="text" placeholder="Reply to {{ answer.answer.user.user }}">
  <input type="submit" value="Post reply">
</form>
<br>

{% for reply in answer.replies %}
Reply : {{ reply.text }}
{% if reply.user.user == user %}
<a href="/post/delete_answer/{{ reply.id }}">Delete</a>
{% endif %}
<a href="/api/vote_answer/{{ reply.id }}">Vote</a>
<a href="/api/report_answer/{{ reply.id }}">Report</a>

<br>
{% endfor %}
<hr>
<br>
{% endfor %}

<script src="{% static 'js/home.js' %}"></script>
{% endblock %}