{% extends "base_layout.html" %}

{% block content %}
<form action="/search/1" method="get">
  <input type="search" name="query" placeholder="Search" id="query">
  <input type="submit" value="Search">
</form>

<!--If type is post-->
{% if type == "post" %}
{% if posts_data|length == 0 %}
<br>
No Post related to "{{query}}"
{% endif %}

{% for post in posts_data %}
<hr>
<h3>{{ post.post.title }}</h3>
<a class="btn btn-primary" href="/post/view/{{ post.post.post_id }}">Read</a>


{% if post.already_voted %}
<a class="btn btn-success" href="/api/vote_post/{{post.post.post_id}}">Un-Vote</a>
{% else %}
<a class="btn btn-success" href="/api/vote_post/{{post.post.post_id}}">Vote</a>

{% endif %}

{% if post.is_saved %}
<a class="btn btn-warning" href="/api/save/{{post.post.post_id}}">Unsave</a>
{% else %}
<a class="btn btn-warning" href="/api/save/{{post.post.post_id}}">Save</a>
{% endif %}

{% if user == post.post.author.user %}
<a class="btn btn-danger" href="/post/delete_post/{{post.post.post_id}}">Delete</a>
{% endif %}
<a class="btn btn-danger" href="/api/report_post/{{post.post.post_id}}">Report</a>
<i class="fa fa-clock"></i> {{post.post.posted_on}}
{% for image in post.images %}
<img src="{{ image.url }}" width="50" height="50" alt="">
{% endfor %}
<i class="fa fa-vote-yea"></i> {{ post.votes }}
{% for tag in post.tags %}
<p> <a href="/post/tag/{{tag}}">#{{tag}}</a> </p>
{% endfor %}
<br>
<hr>
{% endfor %}

{% endif %}
<!--If type is post>>>>-->

<!--If type is tags-->
{% if type == "tags" %}
{% if posts_data|length == 0 %}
<br>
No Post related to tag {{query}}
{% endif %}

{% for post in posts_data %}
<hr>
<h3>{{ post.title }}</h3>
<a class="btn btn-primary" href="/post/view/{{ post.post_id }}">Read</a>
{% if post.already_voted %}
<a class="btn btn-success" href="/api/vote_post/{{post.post.post_id}}">Un-Vote</a>
{% else %}
<a class="btn btn-success" href="/api/vote_post/{{post.post.post_id}}">Vote</a>

{% endif %}

{% if post.is_saved %}
<a class="btn btn-warning" href="/api/save/{{post.post.post_id}}">Unsave</a>
{% else %}
<a class="btn btn-warning" href="/api/save/{{post.post.post_id}}">Save</a>
{% endif %}
{% if user == post.post.author.user %}
<a class="btn btn-danger" href="/post/delete_post/{{post.post_id}}">Delete</a>
{% endif %}
<a class="btn btn-danger" href="/api/report_post/{{post.post.post_id}}">Report</a>
<i class="fa fa-clock"></i> {{ post.post.posted_on }}
<i class="fa fa-vote-yea"></i> {{ post.votes }}
{% for tag in post.tags %}
<p> <a href="/post/tag/{{tag}}">#{{tag}}</a> </p>
{% endfor %}
<br>
<hr>
{% endfor %}


{% endif %}
<!--If type is tag >>>>>>>>-->

<!--If type is user-->
{% if type == "user" %}
{% if users_data|length == 0 %}
<br>
No User with username "{{query}}" found!
{% endif %}
{% for user_model in users_data %}
<div class="container">

  <div class="card" style="width: 18rem;">
    <img src="{{ user_model.profile_picture_link }}" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/account/view/{{ user_model.user }}" class="btn btn-primary">View</a>
    </div>
  </div>


</div>
{% endfor %}
{% endif %}
<!--If type is user>>>>>>>>>>>>-->


{% if not is_last_page %}
<a class="btn btn-info" href="/search/{{ next_page }}?query={{ query }}">Next Page</a>
{% endif %}
{% endblock %}