{% extends "base_layout.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesheets/home.css' %}">

</head>

<body>

  <div class="container-fluid">
    <!--Checking for any notification from backend >>>>>>>>>>>>-->
    <br><br>
    {% if messages %}

    {% for message in messages %}
    {% if message.tags == 'info' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% elif message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% elif message.tags == 'warning' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message|safe }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}

    {% endfor %}

    {% endif %}
    <!--Checking for any notification from backend >>>>>>>>>>>>-->

    <!--If type is post-->
    {% if type == "post" %}
    {% if posts_data|length == 0 %}
    <br>
    No Post related to "{{query}}"
    {% endif %}

    <!--Post-->

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in posts_data %}
      <!--Testing-->
      <div class="col">
        <div class="card h-100">
          {% if user == post.post.author.user %}
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-{{ post.post.post_id }}"
              data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ post.post.post_id }}">
              <li><button id="delete-post-{{post.post.post_id}}" data-bs-toggle="modal"
                  data-bs-target="#delete-modal-{{post.post.post_id}}" class="dropdown-item">Delete </button></li>
            </ul>
          </div>

          <div class="modal fade" id="delete-modal-{{post.post.post_id}}" tabindex="-1"
            aria-labelledby="modal-label-{{post.post.post_id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-label-{{post.post.post_id}}">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Once the post is deleted, can never be restored. Do you want to continue?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">No, Cancel</button>
                  <a type="button" class="btn btn-danger" href="/post/delete_post/{{post.post.post_id}}">Yes, Delete
                    it</a>
                </div>
              </div>
            </div>
          </div>


          {% endif %}
          <div class="card-body text-center">
            <div class="container d-flex flex-column align-items-center ">
              <img src="{{ post.profile_picture_link }}" alt="Profile Picture" class="profile-picture">&nbsp;
              <a href="/account/view/{{post.username}}">@{{ post.username }}</a>
            </div>
            <br>
            <h5 class="card-title"> <a href="/post/view/{{ post.post.post_id }}"> {{ post.post.title }}</a></h5>
            <small class="text-secondary"> <time datetime="{{post.post.posted_on|date:'c'}}"
                id="time-{{post.post.post_id}}">{{post.post.posted_on}}</time></small></small>
            <br> <br>
            <p class="card-text d-flex justify-content-center">
              {% for tag in post.tags %}
              <small> <a class="text-primary" href="/post/tag/{{tag}}">#{{tag}}</a></small> &nbsp;
              {% endfor %}
            </p>
          </div>

          <div class="card-footer">
            <div class="container text-center">

              <!--Support Icons >>>>>>>>>>>>>>>>-->
              {% if post.already_voted %}
              <i class="fas fa-check-circle" id="vote-{{post.post.post_id}}" title="Remove Support"
                onclick="votePost({{post.post.post_id}})"></i>
              <span id="vote-count-{{post.post.post_id}}">{{ post.votes }}</span>
              {% else %}
              <i class="fas fa-check" id="vote-{{post.post.post_id}}" title="Support"
                onclick="votePost({{post.post.post_id}})">
              </i>
              <span id="vote-count-{{post.post.post_id}}">{{ post.votes }}</span>
              {% endif %}
              <!--Support Icons <<<<<<<<<<<<<<<<<<<<<-->
              &nbsp; &nbsp; &nbsp;
              <!--Saved Posts >>>>>>>>>>>>-->
              {% if post.is_saved %}
              <i class="fas fa-bookmark" id="saved-{{post.post.post_id}}" onclick="savePost({{post.post.post_id}})"></i>
              {% else %}
              <i class="far fa-bookmark" id="saved-{{post.post.post_id}}" onclick="savePost({{post.post.post_id}})"></i>
              {% endif %}

              <!--Saved Posts <<<<<<<<<<<<<<<<<-->
              &nbsp; &nbsp; &nbsp;
              <!--Report Post >>>>>>>>>>>>>>>>>>>>>>>>-->
              <i class="far fa-flag" id="report-post-{{post.post.post_id}}" data-bs-toggle="modal"
                data-bs-target="#report-modal-{{post.post.post_id}}" onclick="reportPost({{post.post.post_id}})"></i>

              <!-- Modal for report >>>>>>> -->
              <div class="modal fade" id="report-modal-{{post.post.post_id}}" tabindex="-1"
                aria-labelledby="modal-label-{{post.post.post_id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-label-{{post.post.post_id}}">Post was reported!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      We'll check this post and if it is against our policy, we will remove it. Thank you so much
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <<<<<<<<<<<<<<<< modal for report-->
              <!--Report Post<<<<<<<<<<<<<<<<<<<<<<<-->

            </div>
          </div>
        </div>

      </div>

      {% endfor %}

    </div>

    <!--Post-->

    {% endif %}



    {% if type == "tags" %}
    {% if posts_data|length == 0 %}
    <br>
    No Post related to tag {{query}}
    {% endif %}

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in posts_data %}
      <!--Testing-->
      <div class="col">
        <div class="card h-100">
          {% if user == post.post.author.user %}
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton-{{ post.post.post_id }}"
              data-bs-toggle="dropdown" aria-expanded="false">
              ...
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton-{{ post.post.post_id }}">
              <li><button id="delete-post-{{post.post.post_id}}" data-bs-toggle="modal"
                  data-bs-target="#delete-modal-{{post.post.post_id}}" class="dropdown-item">Delete </button></li>
            </ul>
          </div>

          <div class="modal fade" id="delete-modal-{{post.post.post_id}}" tabindex="-1"
            aria-labelledby="modal-label-{{post.post.post_id}}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-label-{{post.post.post_id}}">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Once the post is deleted, can never be restored. Do you want to continue?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">No, Cancel</button>
                  <a type="button" class="btn btn-danger" href="/post/delete_post/{{post.post.post_id}}">Yes, Delete
                    it</a>
                </div>
              </div>
            </div>
          </div>


          {% endif %}
          <div class="card-body text-center">
            <div class="container d-flex flex-column align-items-center ">
              <img src="{{ post.profile_picture_link }}" alt="Profile Picture" class="profile-picture">&nbsp;
              <a href="/account/view/{{post.username}}">@{{ post.username }}</a>
            </div>
            <br>
            <h5 class="card-title"> <a href="/post/view/{{ post.post.post_id }}"> {{ post.post.title }}</a></h5>
            <small class="text-secondary"> <time datetime="{{post.post.posted_on|date:'c'}}"
                id="time-{{post.post.post_id}}">{{post.post.posted_on}}</time></small></small>
            <br> <br>
            <p class="card-text d-flex justify-content-center">
              {% for tag in post.tags %}
              <small> <a class="text-primary" href="/post/tag/{{tag}}">#{{tag}}</a></small> &nbsp;
              {% endfor %}
            </p>
          </div>

          <div class="card-footer">
            <div class="container text-center">

              <!--Support Icons >>>>>>>>>>>>>>>>-->
              {% if post.already_voted %}
              <i class="fas fa-check-circle" id="vote-{{post.post.post_id}}" title="Remove Support"
                onclick="votePost({{post.post.post_id}})"></i>
              <span id="vote-count-{{post.post.post_id}}">{{ post.votes }}</span>
              {% else %}
              <i class="fas fa-check" id="vote-{{post.post.post_id}}" title="Support"
                onclick="votePost({{post.post.post_id}})">
              </i>
              <span id="vote-count-{{post.post.post_id}}">{{ post.votes }}</span>
              {% endif %}
              <!--Support Icons <<<<<<<<<<<<<<<<<<<<<-->
              &nbsp; &nbsp; &nbsp;
              <!--Saved Posts >>>>>>>>>>>>-->
              {% if post.is_saved %}
              <i class="fas fa-bookmark" id="saved-{{post.post.post_id}}" onclick="savePost({{post.post.post_id}})"></i>
              {% else %}
              <i class="far fa-bookmark" id="saved-{{post.post.post_id}}" onclick="savePost({{post.post.post_id}})"></i>
              {% endif %}

              <!--Saved Posts <<<<<<<<<<<<<<<<<-->
              &nbsp; &nbsp; &nbsp;
              <!--Report Post >>>>>>>>>>>>>>>>>>>>>>>>-->
              <i class="far fa-flag" id="report-post-{{post.post.post_id}}" data-bs-toggle="modal"
                data-bs-target="#report-modal-{{post.post.post_id}}" onclick="reportPost({{post.post.post_id}})"></i>

              <!-- Modal for report >>>>>>> -->
              <div class="modal fade" id="report-modal-{{post.post.post_id}}" tabindex="-1"
                aria-labelledby="modal-label-{{post.post.post_id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-label-{{post.post.post_id}}">Post was reported!</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      We'll check this post and if it is against our policy, we will remove it. Thank you so much
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Okay</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <<<<<<<<<<<<<<<< modal for report-->
              <!--Report Post<<<<<<<<<<<<<<<<<<<<<<<-->

            </div>
          </div>
        </div>

      </div>

      {% endfor %}

    </div>

    {% endif %}
    <!--If type is tag >>>>>>>>-->

    <!--If type is user-->
    {% if type == "user" %}
    {% if users_data|length == 0 %}
    <br>
    No User with username "{{query}}" found!
    {% endif %}
    {% for user_model in users_data %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="{{ user_model.profile_picture_link }}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/account/view/{{ user_model.user }}" class="btn btn-primary">View</a>
        </div>
      </div>


    </div>
    </div>
    {% endfor %}
    {% endif %}
    <!--If type is user>>>>>>>>>>>>-->


    {% if not is_last_page %}
    <div class="container text-center">
      <a href="/home/{{ next_page }}" class="btn btn-warning"><i class="fas fa-angle-double-right"></i></a>
    </div>

    {% endif %}
    <script src="{% static 'js/home.js' %}"></script>

    {% endblock %}