{% extends "base_layout.html" %}

{% block content %}
{{user}}

{{user.email}}
<img width="50px" height="50px" src="{{user_data.profile_picture_link}}" alt="">
{% for post in posts_data %}
<br>
Number of votes: {{ post.votes }}
<h2>Post</h2>
<h3>{{ post.post.text }}</h3>
<a href="/post/view/{{ post.post.post_id }}">Read</a>
<form action="/api/vote_post/{{post.post.post_id}}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-secondary" value="Vote">
</form>
<form action="/api/save/{{post.post.post_id}}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-primary" value="Save">
</form>
<form action="/api/report_post/{{post.post.post_id}}" method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-danger" value="Report">
</form>
{% for image in post.images %}
<img src="{{ image.url }}" width="50" height="50" alt="">
{% endfor %}
{% endfor %}
{% load static %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}